@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.header {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 60px 0;
  background-color: #ffe17f;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
}

.logo-link {
  position: relative;
  z-index: 5;
  color: #000000;
  display: inline-block;
  margin-bottom: 26px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.logo-link:active {
  opacity: 0.3;
  outline: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.search-form {
  display: flex;
  align-items: flex-start;
}

.search-input {
  min-height: 40px;
  width: 357px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: none;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
  padding: 0 13px 0 47px;
  font-family: "Rubik", "Arial", sans-serif;
  background: transparent url("../images/search.svg") no-repeat 14px 10px;
}

.search-input:focus {
  outline: none;
}

.search-input:disabled {
  opacity: 0.3;
}

.search-label {
  display: block;
  position: relative;
}

.search-label::before {
  content: "";
  width: 363px;
  height: calc(100% + 4px);
  border: 2px solid #af4fff;
  position: absolute;
  top: -4px;
  left: -4px;
  display: none;
}

.search-label:focus-within::before {
  display: block;
}

.search-button {
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  min-height: 40px;
  width: 160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  font-family: "Rubik", "Arial", sans-serif;
  position: relative;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button::before {
  content: "";
  position: absolute;
  width: 164px;
  height: calc(100% + 8px);
  border: 2px solid #af4fff;
  position: absolute;
  top: -6px;
  left: -6px;
  display: none;
}

.search-button:focus::before {
  display: block;
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  opacity: 0.3;
  background-color: transparent;
  color: #000000;
}

.user-block {
  display: flex;
  justify-content: space-between;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-end;
  width: 248px;
  padding: 0;
  margin: 0;
  gap: 6px 17px;
}

.user-group {
  width: 250px;
}

.user-link {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding: 5px 0 0 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
}

.user-link:active {
  opacity: 0.3;
  outline: none;
}

.login {
  background: url("../images/login.svg") no-repeat 2px 14px;
}

.graphic {
  background: url("../images/graphic.svg") no-repeat 7px 14px;
}

.cart {
  padding-left: 44px;
  background: url(../images/cart.svg) no-repeat 16px 11px;
}

.cart-complex {
  position: relative;
}

.cart-count {
  position: absolute;
  left: 0;
  top: 9px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 10px;
  min-width: 21px;
  height: 21px;
  box-sizing: border-box;
}

.cart-container {
  position: absolute;
  width: 320px;
  top: 100%;
  left: -125px;
  padding-top: 1px;
  display: none;
}

.cart-complex:hover .cart-container {
  display: block;
}

.cart-complex:focus-within .cart-container {
  display: block;
}

.cart-wrapper {
  background-color: #000000;
  padding-bottom: 20px;
  position: relative;
}

.cart-wrapper::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  position: absolute;
  transform: rotate(45deg);
  left: calc(50% - 5px);
  top: -5px;
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cart-item {
  padding: 20px 60px 19px 20px;
  position: relative;
}

.cart-item:not(:last-child) {
  border-bottom: 2px solid #1a1a1a;
}

.cart-button-remove {
  position: absolute;
  width: 10px;
  height: 10px;
  border: none;
  background: url("../images/cross-button.svg") no-repeat center center;
  right: 19px;
  top: 21px;
  cursor: pointer;
}

.cart-button-remove:hover {
  opacity: 0.6;
}

.cart-button-remove:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-button-remove:active {
  opacity: 0.3;
  outline: none;
}

.cart-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 24px;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-link:active {
  opacity: 0.3;
  outline: none;
}

.cart-title {
  padding: 0;
  margin: 0;
  width: 160px;
}

.cart-statistic {
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 13px 20px;
  margin-bottom: 18px;
}

.cart-total {
  margin: 0;
  padding: 0;
}

.cart-open-link {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  padding: 14px 10px 15px;
}

.cart-open-link:hover {
  background-color: #ffe17f;
}

.cart-open-link:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-open-link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.complex-menu {
  position: relative;
}

.complex-menu-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: red;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 68px;
}

.complex-menu-block {
  position: absolute;
  width: 1160px;
  background-color: #ffe17f;
  left: -60px;
  top: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  box-sizing: border-box;
  padding: 13px 60px 20px;
}

.complex-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.complex-menu-item {

}

.complex-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.main-menu {
  padding: 13px 0 0 0;
  margin: 0;
  gap: 41px;
  margin-right: -7px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 500px;
}

.main-menu-item {
}

.main-menu-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 3px;
}
